form {
    margin-bottom: 1em;
}

#lips {
    background: url("images/people-lips-closed.png") no-repeat;
    width: 640px;
    height: 480px;
    border-radius: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#lips.open {
    background: url("images/people-lips-open.png") no-repeat;
}

.bubble {
    display: none;
    position: relative;
}

.bubble p  {
    display: inline;
    position: relative;
    background: #FFCCCC;
    height: 1em;
    padding: 15px;
    border-radius: 15px;
    font-size: 3em;
}

.bubble p:after {
    position: absolute;
    border-color: transparent #FFCCCC;
    border-style: solid;
    content: "";
    display: block;
}

.bubble-left {
    margin-left: 40px;
    top: -192px;
    left: 531px;
}

.bubble-left p:after {
    top: 25px;
    left: -54px;
    border-width: 18px 54px 0 0;
}

.bubble-right {
    margin-right: 40px;
    top: -304px;
    right: 200px;
}

.bubble-right p:after {
    top: 25px;
    right: -54px;
    border-width: 18px 0 0 54px;
}

